<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1 class="tittle-heading">Vivero EL Otoño</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <img src="assets/images/banner.png" class="img-fluid" alt="Banner Image">
    </div>
  </div>
  <div class="col-6">
    <table class="table">
      <thead>
        <tr>
          <th class="h4">#</th>
          <th class="h4">Nombre común</th>
          <th class="h4">Tipo</th>
          <th class="h4">Clima</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of plantas">
          <td>
            <dd>{{c.id}}</dd>
          </td>
          <td>
            <dd>{{c.nombre_comun}}</dd>
          </td>
          <td>
            <dd>{{c.tipo}}</dd>
          </td>
          <td>
            <dd>{{c.clima}}</dd>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>