<div class="container-fluid content-wrapper">
  <div class="row">
    <div class="col border-bottom-titulo">
      <h1 class="tittle-heading">Vivero EL Otoño</h1>
    </div>
  </div>
  <div class="row">
    <div> <img src="assets/images/banner.png" class="img-fluid" alt="Banner Image">
    </div>
  </div>
  <div class="col-6 table-container">
    <table class="table">
      <thead>
        <tr>
          <th class="h4">#</th>
          <th class="h4">Nombre común</th>
          <th class="h4">Tipo</th>
          <th class="h4">Clima</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of plantas">
          <td>
            <dd>{{c.id}}</dd>
          </td>
          <td>
            <dd>{{c.nombre_comun}}</dd>
          </td>
          <td>
            <dd>{{c.tipo}}</dd>
          </td>
          <td>
            <dd>{{c.clima}}</dd>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <p>Total plantas de interior: {{ conteoPlantasTipo.interior }}</p>
    <p>Total plantas de exterior: {{ conteoPlantasTipo.exterior }}</p>
  </div>
  <div class="row footer">
    <p class="footer-text"><strong>Contact us: +57 3102105253 - info&#64;viveroelotonio.com -
        &#64;viveroelotonio</strong></p>
  </div>
</div>